body {
    background-color: lightblue;
    

}

h2 {
    position: relative;
    text-align: center;
    color: darkblue;
    font-size: 56px;
}

#world {
    position: relative;
}

p {
    position: relative;
    color: white;
    font-size: 20px;
}

.btn {
    background-color: maroon;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 10px;
    font-size: large;
}

.worldCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkblue;
    align-items: center;
    padding: 30px;
    width: 450px;
    height: 700px;
    margin: 40px;
    border-radius: 5px;
}

.cardHolder {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}